<launch>
<node pkg="ui_alt" name="ui_alt" type="uialt_online.py" />
<node pkg="ui_alt" name="control" type = "control.py" />
<node pkg="ui_alt" name="tfmanager" type="tfmanager_offline.py" />
<node pkg="ui_alt" name="localization" type="loc.n" args="$(find ui_alt)/hark/network_main/current/jellyfish_loc.dat $(find ui_alt)/hark/network_main/current/jellyfish_sep.tff" />
<node pkg="ui_alt" name="playsound" type="playsound.n" args="$(find ui_alt)/hark/network_main/current/jellyfish_sep.tff" />
<node pkg="ui_alt" name="mic" type="mic.n" />
</launch>